<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pro.mapper.ClassificationMapper" >
  <resultMap id="BaseResultMap" type="cn.com.pro.vo.Classification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.pro.vo.Classification" >
    insert into classification (id, cname, parent_id, 
      type)
    values (#{id,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.pro.vo.Classification" >
    update classification
    set cname = #{cname,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, cname, parent_id, type
    from classification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, cname, parent_id, type
    from classification
  </select>
</mapper>