<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pro.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.pro.vo.Comment" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="commentnum" property="commentnum" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.pro.vo.Comment" >
    insert into comment (id, commentnum, content, 
      image, likes, name, 
      time)
    values (#{id,jdbcType=INTEGER}, #{commentnum,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{likes,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, commentnum, content, image, likes, name, time
    from comment
  </select>
</mapper>