<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pro.mapper.CustomerInfMapper" >
  <resultMap id="BaseResultMap" type="cn.com.pro.vo.CustomerInf" >
    <id column="customer_inf_id" property="customerInfId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="identity_card_no" property="identityCardNo" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="INTEGER" />
    <result column="customer_email" property="customerEmail" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_inf
    where customer_inf_id = #{customerInfId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.pro.vo.CustomerInf" >
    insert into customer_inf (customer_inf_id, customer_id, customer_name, 
      identity_card_no, mobile_phone, customer_email, 
      gender, birthday)
    values (#{customerInfId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, 
      #{identityCardNo,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=INTEGER}, #{customerEmail,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{birthday,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.pro.vo.CustomerInf" >
    update customer_inf
    set customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      identity_card_no = #{identityCardNo,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=INTEGER},
      customer_email = #{customerEmail,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP}
    where customer_inf_id = #{customerInfId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select customer_inf_id, customer_id, customer_name, identity_card_no, mobile_phone, 
    customer_email, gender, birthday
    from customer_inf
    where customer_inf_id = #{customerInfId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select customer_inf_id, customer_id, customer_name, identity_card_no, mobile_phone, 
    customer_email, gender, birthday
    from customer_inf
  </select>
</mapper>