<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pro.mapper.ProductCommentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.pro.vo.ProductComment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.pro.vo.ProductComment" >
    insert into product_comment (comment_id, product_id, order_id, 
      customer_id, title, content, 
      audit_time)
    values (#{commentId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, 
      #{customerId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.pro.vo.ProductComment" >
    update product_comment
    set product_id = #{productId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select comment_id, product_id, order_id, customer_id, title, content, audit_time
    from product_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select comment_id, product_id, order_id, customer_id, title, content, audit_time
    from product_comment
  </select>
</mapper>