<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pro.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.com.pro.vo.User">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ag" jdbcType="VARCHAR" property="ag" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.pro.vo.User">
    insert into Userr (name, ag, role
      )
    values (#{name,jdbcType=VARCHAR}, #{ag,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select name, ag, role
    from Userr
  </select>
</mapper>